.firstDivision{
    background-color: #aaa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 800px;
    justify-content: center;
    align-items: end;
}
p{
    padding: 20px;
    color: white;
    font-size: 40px;
    height: fit-content;
    background-color: #b37fe4;
}
#pragraph1{
    background-color: #c4e7da;
}
#pragraph2{
    background-color: #eeec8a;
}
#pragraph3{
    background-color: #b37fe4;
}
#pragraph4{
    background-color: #d87fc9;
}
.secondDivision{
    background-color: yellow;
    display: grid;
grid-template-columns:2fr auto;
    gap: 30px;

}